.row {
    margin: 10px 10px;
}

.row-header {
    padding: 0px auto;
    font-size: 5vw;
}

.row-content {
    font-size: 2vw;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
}

.row-footer {
    background-color: #AfAfAf;
    padding: 20px 0px 20px 0px;
}

.img-thumbnail {
    max-width: none;
}

.jumbotron {
    text-align: center;
}